<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MrCollectionMapper">

    <resultMap type="MrCollection" id="MrCollectionResult">
                    <result property="id"    column="id"    />
                    <result property="surfacePlot"    column="surface_plot"    />
                    <result property="createrPhoto"    column="creater_photo"    />
                    <result property="createrName"    column="creater_name"    />
                    <result property="createTime"    column="create_time"    />
                    <result property="updateTime"    column="update_time"    />
                    <result property="createBy"    column="create_by"    />
                    <result property="updateBy"    column="update_by"    />
                    <result property="remark"    column="remark"    />
                    </resultMap>
    
    <sql id="selectMrCollectionVo">
        select id, surface_plot, creater_photo, creater_name, create_time, update_time, create_by, update_by, remark from mr_collection
    </sql>

    <select id="selectMrCollectionList" parameterType="MrCollection" resultMap="MrCollectionResult">
        <include refid="selectMrCollectionVo"/>
        <where>
                                                                                                    <if test="surfacePlot != null  and surfacePlot != ''"> and surface_plot = #{surfacePlot}</if>
                                                                                                            <if test="createrPhoto != null  and createrPhoto != ''"> and creater_photo = #{createrPhoto}</if>
                                                                                                            <if test="createrName != null  and createrName != ''"> and creater_name like concat('%', #{createrName}, '%')</if>
                                                                                                                                                                                                    </where>
            </select>

</mapper>