<div th:fragment="container">
    <!-- 外层容器 -->
    <div class="drag-out-container">
        <div class="drag-box drag-container drag-container-border drag-single-container-real" style="display: flex;flex-direction: column;flex: 0 0 auto;"></div>
    </div>

    <!-- 单列容器 -->
    <div class="drag-single-container">
        <div class="drag-box" style="display: flex;flex: 0 0 auto;">
            <div class="drag-container drag-container-border" style="display: flex;flex-direction: column;flex: 1;">

            </div>
        </div>
    </div>

    <!-- 双列容器 -->
    <div class="drag-two-container">
        <div class="drag-box" style="display: flex;flex: 0 0 auto;">
            <div class="drag-container drag-container-border" style="display: flex;flex-direction: column;flex: 1;">
            </div>
            <div class="drag-container drag-container-border" style="display: flex;flex-direction: column;flex: 1;">
            </div>
        </div>
    </div>

    <!-- 三列容器 -->
    <div class="drag-three-container">
        <div class="drag-box" style="display: flex;flex: 0 0 auto;">
            <div class="drag-container drag-container-border" style="display: flex;flex-direction: column;flex: 1;">
            </div>
            <div class="drag-container drag-container-border" style="display: flex;flex-direction: column;flex: 1;">
            </div>
            <div class="drag-container drag-container-border" style="display: flex;flex-direction: column;flex: 1;">
            </div>
        </div>
    </div>


    <!-- 四列容器 -->
    <div class="drag-four-container">
        <div class="drag-box" style="display: flex;flex: 0 0 auto;">
            <div class="drag-container drag-container-border" style="display: flex;flex-direction: column;flex: 1;">
            </div>
            <div class="drag-container drag-container-border" style="display: flex;flex-direction: column;flex: 1;">
            </div>
            <div class="drag-container drag-container-border" style="display: flex;flex-direction: column;flex: 1;">
            </div>
            <div class="drag-container drag-container-border" style="display: flex;flex-direction: column;flex: 1;">
            </div>
        </div>
    </div>
</div>