<div th:fragment="textarea">
    <div class="form-textarea">
        <div class="drag-box drag-item form-group" data-type="drag_textarea" style="display: flex;padding-left: 10px;">
            <label class="control-label" style="width: 80px;text-align: right;padding-top: 8px;">组件名：</label>
            <div style="flex: 1;">
                <textarea name="" class="form-control real" aria-required="true"></textarea>
            </div>
        </div>
    </div>

    <script>
        var drag_textarea = {
            tab: {name: "描述", value: "组件名"},
            name: {name: "提交属性", value: ""}
        }
    </script>
</div>